.ant-card-body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   flex: 1;
   background-color: #20356a;
}

.cosplaymaker-container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.cosplaymaker-resume {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 2em;
   max-width: 80%;
}

.card-container {
   margin-top: 2em;
   display: flex;
}
.card-frontend {
   width: 250px;
   margin-right: 1em;
   display: flex;
   flex-direction: column;
}
.second-part-front-end {
   display: flex;
   align-items: center;
}
.card-backend {
   width: 250px;
   margin-right: 1em;
   display: flex;
   flex-direction: column;
}
.card-database {
   width: 250px;
   margin-right: 1em;
   display: flex;
   flex-direction: column;
}
.card-devops {
   width: 250px;
   margin-right: 1em;
   display: flex;
   flex-direction: column;
}
.card-mobile {
   width: 250px;
   margin-right: 1em;
   display: flex;
   flex-direction: column;
}
.html-icon {
   max-width: 75px;
   border-radius: 50%;
   margin-right: 0.5em;
}
.css-icon {
   max-width: 75px;
}
.react-icon {
   max-width: 75px;
   margin-right: 0.5em;
}
.antd-icon {
   max-width: 100px;
   background-color: white;
}
.nodejs-icon {
   max-width: 100px;
}
.express-icon {
   max-width: 100px;
   background-color: white;
}
.mongodb-icon {
   max-width: 100px;
   background-color: white;
}
.mongoose-icon {
   max-width: 100px;
}
.docker-icon {
   max-width: 125px;
   background-color: white;
}
.github-icon {
   max-width: 150px;
}
.react-native-icon {
   max-width: 100px;
}
.ppt-display {
   margin: 2em 0; 
}
.pdf-display {
   margin-bottom: 2em;
}
.amazon-ec2 {
   max-width: 125px;
   background-color: white;
}
.bucket-s3 {
   max-width: 100px;
}
.mui-icon {
   max-width: 125px;
   background-color: white;
}
.embed-pdf-spotifake {
   margin: 2em;
}
@media screen and (max-width: 1370px) {
   .card-container {
      flex-wrap: wrap;
      justify-content: center;
   }
   .card-container > .card-frontend,
   .card-container > .card-backend,
   .card-container > .card-database,
   .card-container > .card-devops,
   .card-container > .card-mobile {
      width: calc(50% - 0.5em); /* Adjust margin */
      margin-right: 0.5em;
      margin-bottom: 1em; /* Add margin to the bottom */
   }
}
@media screen and (max-width: 678px){
   .card-container {
      flex-direction: column;
   }
   .card-container > .card-frontend,
   .card-container > .card-backend,
   .card-container > .card-database,
   .card-container > .card-devops,
   .card-container > .card-mobile {
      width: calc(100% - 0.5em); /* Adjust margin */
      margin-right: 0.5em;
      margin-bottom: 1em; /* Add margin to the bottom */
   }

   .download-btn {
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;
   }
   .pdf-download-link {
      margin-bottom : 1em;
   }
}