.footer-container {
    text-Align: center;
    border-Top: 1px solid  #46b0b8;
    margin: 0 2em ;
    border-Radius: 1%;
}

.footer-title {
    display: flex;
    justify-content: space-around;
}

.navigation-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.follow-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-footer {
    border-inline-end: 0px !important;
}

.space-follow-me {
    margin-right: 2em;
}

.icon-size {
    font-size: 30px;
}

.informations-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.informations-container p {
    margin-top: 0px;
}

.form-container {
    border: 1px solid #46b0b8;
    padding: 0.5em;
    border-Radius: 10px ;
    margin-Bottom: 0.5em;
}

.form-spacing {
    margin-top: 0;
    margin-Bottom: 1em;
}
@media screen and (max-width: 1024px) {
    .informations-container {
        font-size: 14px;
    }
}
@media screen and (max-width: 768px) {
    .footer-title {
        display: none;
    }
    .navigation-container {
        display: none;
    }
    .row-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1em;
    }
    .follow-me-container p {
       width: max-content;
    }

    .ant-col-6 {
        max-width: max-content;
    }
 
}