.container-list {
    margin: 0 10em;
}
.list-item-image {
    margin-left: 20px
}
.my-tools-title {
    color: white;
    margin-bottom: 11rem;
}
.tool-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-tool-desc {
    width: 250px;
    margin-top: 1em;
}
@media screen and (max-width: 768px) {
    .container-list {
        min-width: 0;
        margin: 0 2em;
    }
    .list-item{
        display: block;
    }
    .list-item-image {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
    }
}
 