.study-title {
    margin-top: 0;
}
.studies-title {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}
.studies-timeline {
   margin-right: 20em;
}
@media screen and (max-width: 768px) {
    .studies-timeline {
        margin-right: 1em;
        margin-left: 1em;
    }

}
    